@import "tailwindcss";

/* Correção para o site ocupar 100% da largura e altura */
html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1a1f36; /* Cor de fundo para o body */
}

body {
  /* Efeito de estrelas com gradiente radial */
  background-image: radial-gradient(white 0.5px, transparent 0.5px);
  background-size: 30px 30px;
}
